@import "tailwindcss";

@theme {
  --color-brand-50: #fcfaf5;
  --color-brand-100: #faf4eb;
  --color-brand-200: #f0e2ce;
  --color-brand-300: #e8d0b5;
  --color-brand-400: #d6a783;
  --color-brand-500: #c57b57;
  --color-brand-600: #b06846;
  --color-brand-700: #944f31;
  --color-brand-800: #75361e;
  --color-brand-900: #592412;
  --color-brand-950: #381207;

  --drop-shadow-cards: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  font-family: "Quicksand";
  background-color: var(--color-brand-100);
}

@utility input-normal {
  @apply h-8 rounded-2xl border-1 px-3;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #c57b57 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
